*{
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

:root{
    --blueish: #38ADAD;
    --dark-blueish: #0D978D;
    --greenish: #85EE9C;
}

html, body, #root, .general-container{
    min-height: 100%;
} 

.general-container{
    background-image: linear-gradient(#222323, #232828, #181A1A);
    display: flex;
    flex-direction: column;
}


/* Sections */
.sections-container{
    flex-grow: 1;
    width: 96.5%;
}

.section-container{
    border-radius: 10px;
    background-color: #191b1b;
    margin: 0.5%;
    box-shadow: 5px 10px 10px black;
}

@media screen and (min-width: 768px) {
    .sections-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-container{
        width: 45%;
    }
}

@media screen and (min-width: 2000px){
    .section-container{
        width: 32%;
    }
}


/* Section container*/
.section-container{
    padding: 2em;
    display: flex;
    flex-direction: column;    
}

.section-container h2, .contact-container h2{
    position: relative;
    width: max-content;
}

.section-container h2::after, .contact-container h2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 3px;
    background-image: linear-gradient(to right, var(--blueish), var(--greenish));
    border-radius: 10px;
}

.contact-container h2{
    position: relative;
}

.contact-container h2{
    text-align: center;
    margin: 2em auto 0 auto;
}

.contact-container h2::after{
    content: "";
    top: 0;
    left: -10px;
    right: -10px;
    height: 3px;
    overflow: hidden;
}

.content-wrapper{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-container h2{
    margin: 0;
}


/* Contact */
.contact-container{
    text-align: center;
}

.contact-info-p{
    font-size: 1.2rem;
}

.contact-info-p span{
    color: var(--blueish);
    font-size: 1.5em;
    word-wrap: break-word;
}

.git-link-images-container{
    display: flex;
    width: 15%;
    justify-content: space-around;
    margin: 5px auto;
}

.footer-container{
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
