*{
    box-sizing: border-box;
    color: white;
}

html, body, #root, .general-container{
    min-height: 100%;
} 

.general-container{
    background-image: linear-gradient(#222323, #232828, #181A1A);
    
    display: flex;
    flex-direction: column;
}

/* Sections */
.sections-container{
    flex-grow: 1;
    width: 97.5%;
}

.section-container{
    border-radius: 10px;
    background-color: #191b1b;
    margin: 0.5%;
    box-shadow: 5px 10px 10px black;
    
}

@media screen and (min-width: 768px) {
    .sections-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-container{
        width: 49%;
    }
}

@media screen and (min-width: 1900px){
    .section-container{
        width: 31%;
    }
}








.language-section-container{
    display: grid;
    grid-template-columns: 15% 75%;
    row-gap: 1em;
}

.language-bar-legend{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 1em;
}

.language-bar-legend::after{
    content: "";
    position: absolute;
    background-color: white;
    left: 1em;
    right: 1.7em;
    bottom: 0;
    height: 0.2em;
}

.language-bar-legend span{
    text-align: center;
    position: relative;
}

.language-bar-legend span::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 5px;
    height: 1em;
    left: 50%;
    top: 1.7em;
}

.grid-language{
    grid-column: 1;
    justify-self: end;
    padding-right: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
}

.grid-proficiency{
    grid-column: 2;
    padding-left: 1em;
    padding-right: 1.7em;
}

.proficiency-bar{
    height: 100%;
    background-image: linear-gradient(to right, #0D978D, #85EE9C);
    border-radius: 10px;
}

/* Section container*/
.section-container{
    padding: 2em;
}

.section-container h2{
    position: relative;
}

.section-container h2::after, .contact-container h2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 5px;
    background-image: linear-gradient(to right, #38ADAD, #85EE9C);
    border-radius: 10px;
}

.content-container{
    padding: 2em;
}

.section-container h2{
    margin: 0;
}

/* Education section */


/* Contact */
.contact-container{
    text-align: center;
}

.contact-info-p{
    font-size: 1.2rem;
}

.contact-info-linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-li-img{
    display: flex;
}

.arrow{
    width: 0.7em;
    margin: 0 15px;
}

.git-link-images-container{
    display: flex;
    width: 15%;
    justify-content: space-around;
    margin: 5px auto;
}

.contact-container h2{
    position: relative;
}

.contact-container h2::after{
    left: 43%;
    right: 43%;
    width: 14%;
}

.footer-container{
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}






/* Projects */
.projects-section{
    position: relative;
}

.project-container{
    margin-top: 5em;
    text-align: center;
    border-bottom: 2px solid #38ADAD;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
}

.project-container-content{
    display: flex;
    align-items: center;
    text-align: left;
}

.project-container-content-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
}



.project-container img{
    width: 128px;
    height: 128px;
}

/*  banner */

.first-name-container{
    background-color: #38ADAD;   
}

.first-name-p{
    margin: 0;
    margin-left: 10px;
    color: black;
    font-size: 17vw;
    font-stretch: expanded;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 0.2ch;
    font-weight: 900;
}

.last-name-container{
    flex: 1;
    /* background-image: linear-gradient(to right, black 95%, transparent 95%, transparent); */
    background-color: black;
}

.last-name-p{
    margin: 0;
    margin-left: 10px;
    font-size: 8vw;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 0.2ch;
    font-weight: 900;
}

.name-details-container{
    display: flex;    
}


/* new */
.profile-image-section{
    width: 40%;
    display: flex;
    background-image: linear-gradient(to right, black 90%, transparent 90%);
    padding-right: 5%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.profile-image-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#38ADAD, #85EE9C 25%); 
    clip-path: polygon(-1% -1%, -1% 20%, 101% 15%, 101% 0);
}

.profile-image-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    clip-path: polygon(90% 20.45%, -1% 25%, -1% 20%, 90% 15.55%, 90% 70%, -1% 70%, -1% 65%, 90% 65%);
}

.profile-image-container{
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(#38ADAD, #85EE9C 25%, #85EE9C 60%, #38ADAD);
}

.profile-image-container img{
    margin-bottom: -15px;
    z-index: 10;
    width: 100%;
}


@media screen and (min-width: 1920px) {
    .profile-image-container{
        width: 70%;
    }
}



.profession-container p{
    margin: 0;
    margin-top: 0.25em;
}

.profession-container #prof-container{
    margin-left: 4ch;
}


.profession-container{
    font-size: 2em;
    margin-left: 15%;
}

.tag-container, .tag-container span{
    color: #38ADAD;
}

.tag-container span{
    position: relative;
}


/* about me */
#about-me-section{
    margin: 0 5%;
}




